[Unit]
Description=Run backup script every 12 hours
Requires=backup-elk.service

[Timer]
AccuracySec=1h
OnUnitActiveSec=12h
Unit=backup-elk.service

[Install]
WantedBy=multi-user.target
